:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: 'YoungSerif';        /* Define the custom font name */
        src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype'); /* Font file location */

  }

  @font-face {
    font-family: 'Outfit-Regular.ttf';
        src: url('./assets/fonts/outfit.static/Outfit-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit-Bold-ttf';
        src: url('./assets/fonts/outfit.static/Outfit-Bold') format('truetype');
  }

  @font-face {
    font-family: 'Outfit-SemiBold';
        src: url('./assets/fonts/outfit.static/Outfit-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Outfit-Thin';
        src: url('./assets/fonts/outfit.static/Outfit-Thin.ttf') format('truetype');
  }

* {
    font-size: 16px;
    font-family: "Outfit-Regular", sans-serif;
}

body {
    background-color: var(--stone100);
    display: flex;
    flex-direction: column;  /* Stack content and footer vertically */
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically (optional) */
    padding-top: 50px;
}

.recipe_card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    width:50%;
    /* height: 1400px; */
    margin: 30px 50px;
    padding: 30px;
}

.recipe_card img {
    
    border-radius: 16px;
   
}

h1 {
    font-family: "YoungSerif", Helvetica;
    font-size: 32px;
    color: var(--stone900);
    font-weight: 200;
    margin-bottom: 20px;
}

h2 {
    font-family: "YoungSerif", Helvetica;
    font-size: 20px;
    color: var(--brown);
    font-weight: 700;
}

h3 {
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 18px;
    color: var(--rose800);
    margin: 0;
}

p {
    font-family: "Outfit-Thin", sans-serif;
    color: var(--stone600);
    font-size: 16px;
    margin-top: 0;
}

.prep_card {
    background-color: var(--rose50);
    padding: 20px;
}

.prep_card li {
    font-family: "Outfit-Regular", sans-serif;
    color: var(--stone600);
    font-size: 16px;
}

ul, ol {
    font-family: "Outfit-Regular", sans-serif;
    color: var(--stone600);
    font-size: 16px;
}

.nutritional-info {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    padding: 30px;
}

tr {
    border-bottom: 1px solid gray; /* Add bottom border to each row */
    height: 40px;
}

tr:last-child {
    border-bottom: none;
}

td {
    border-bottom: 1px solid gray;
}

table .p {
    font-family: "Outfit-Regular", sans-serif;
    color: var(--stone600);
    font-size: 16px;
    width: 50%;
}

table .b {
    font-family: "Outfit-Bold", sans-serif;
    color: var(--brown);
    font-size: 16px;
    width: 50%;
}


@media screen and (max-width: 1300px) {
    .recipe_card {
        width: 75%;
    }
    
}

@media screen and (max-width: 1150px) {
    .recipe_card {
        padding: 0;
    }
    .recipe_card img {
        width: 100%;
        border-radius: 0;
    }
    h1, h2, h3, p, .prep_card, ul, ol {
        margin-right: 20px;
        margin-left: 20px;
    }

    h1 {
        font-size: 24px;
    }

}

@media screen and (max-width: 500px) {
    h1, h2, h3, p, .prep_card, ul, ol {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    p, .prep_card, ul, ol {
        font-size: 14px;
    }
}